/* Estilos gerais */
body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Cabeçalho fixo */
.fixed-header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    background-color: rgb(20, 69, 165);
    color: rgb(218, 221, 240);
    padding: 10px 0;
}

.fixed-header ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    text-align: center;
}

.fixed-header li {
    display: inline;
    margin: 0 70px;
}

.fixed-header a {
    text-decoration: none;
    color: rgb(218, 220, 230);
    font-weight: bold;
    font-size: x-large;
}

/* Estilos da seção Sobre */
.sobre {
    background-color: rgb(62, 86, 218);
    padding: 120px;
    font-size: x-large;
}
.infos {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

/* Estilos da seção Como Doar */
.doar {
    background-color: rgb(37, 82, 179);
    padding: 20px;
}

.doar strong {
    color: #333;
    font-weight: bold;
}

/* Rodapé */
footer {
    background-color: #333;
    color: rgb(62, 86, 218);
    text-align: center;
    padding: 10px 0;
}